* {
  box-sizing: border-box;
}
:root {
  --primary: hotpink;
  --black: #333;
  --secondary: papayawhip;
}
body {
  background-color: darkgrey;
  color: var(--black);
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  margin: 0;
}
dt {
  font: small-caps bold 20px/1 sans-serif;
  color: var(--black);
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  font-size: inherit;
}
.page-header {
  padding: 20px;
  background: var(--secondary);
  margin-bottom: 40px;
}
.page-main {
  padding: 0 0 0 20px;
  margin-bottom: 40px;
}
.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 10px 5px 5px #333;
}
.image-fluid {
  width: 440px;
  max-width: 100%;
  height: auto;
}
figcaption {
  width: 440px;
  max-width: 100%;
}
.interests {
}
.links {
  display: grid;
  text-decoration: none;
}
