* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {
  --black: #333;
}
header {
  position: fixed;
  top: 0;
  background-color: papayawhip;
}
body {
  background-color: white;
  color: var(--black);
  font-family: 'Spartan', sans-serif;
  font-size: 112.5%;
  line-height: 1.4;
  margin: 0;
}
h2 {
  max-width: 100%;
  margin: 20px 0 20px 0;
}
dt {
  font: small-caps bold 20px/1 'Spartan', sans-serif;
  color: var(--black);
  padding-top: 15px;
}
dd {
  padding-top: 10px;
}
a {
  text-decoration: none;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
input,
button,
textarea {
  font-size: inherit;
}
.page-header {
  padding: 20px;
  background: var(--secondary);
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  background-color: papayawhip;
}
.page-main {
  padding: 0 20px 0 20px;
  margin-bottom: 40px;
}
.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 7px;
  border-radius: 4px;
}
.button-light {
  padding-bottom: 100px;
}
img.image-fluid {
  border-radius: 120px 15px 120px 15px;
}
.image-fluid {
  width: 440px;
  max-width: 100%;
  height: auto;
}
figcaption {
  width: 440px;
  max-width: 100%;
}
.interests {
  padding-top: 5px;
  padding-bottom: 20px;
}
.skills {
  padding-bottom: 20px;
}
.contact {
  padding-bottom: 20px;
}
.links {
  display: grid;
  text-decoration: none;
  flex: auto;
  padding-top: 20px;
}
.biography {
  padding-bottom: 20px;
}
.cv {
  padding-top: 5px;
}
#flexbox-links {
  display: flex;
  height: auto;
  column-gap: 20px;
  flex-direction: row;
}
@media only screen and (max-width: 399px) {
  #flexbox-links {
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  #flexbox-links {
    flex-direction: row;
  }
}
