.page-header {
  padding: 20px;
  background: var(--secondary);
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  background-color: papayawhip;
}
.button {
  background: var(--black);
  color: white;
  border-bottom: none;
  padding: 7px;
  border-radius: 4px;
}
.button-light {
  padding-bottom: 100px;
}
img.image-fluid {
  border-radius: 120px 15px 120px 15px;
}
.image-fluid {
  width: 440px;
  max-width: 100%;
  height: auto;
}
.interests {
  padding-top: 5px;
  padding-bottom: 20px;
}
.skills {
  padding-bottom: 20px;
}
.contact {
  padding-bottom: 20px;
}
.links {
  display: grid;
  text-decoration: none;
  flex: auto;
  padding-top: 20px;
}
.biography {
  padding-bottom: 20px;
}
.cv {
  padding-top: 5px;
}
